---
---

$default-width: 20%;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

.image-wrapper,
.gallery-sizer {
  width: $default-width;
}

.image-gallery {

  display: block;

  //thumbnail sizes
  img {
    height: 200px;
    width: auto;
  }

  .image-wrapper {
    float: left;
    text-align: center;
    overflow: hidden;
    padding-left: 5px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }

}

.lg-outer {
  margin-top:48px;
}
